

main {
  background-color: #F8FAFC;
  min-height: 100vh;
}

.home__btnArea {
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 10px;
  border: none;
  width: 100%;
  transition: 0,2s;
}
.btn:hover {
  cursor: pointer;
  filter: brightness(50%);
  transform: translateY(-2px);
}
.btn--big {
  padding: 20px;
}
.btn--small {
  padding: 10px;
}
.btn--primary {
  background-color: #2563EB;
  color: #fff;
  font-weight: bold;
  font-size: large;
}
.btn--normal {
  background-color: #2563EB;
  color: #fff;
}
.btn--low {
  background-color: #F3F4F6;
  color: #374151;
}
.btn--danger {
  background-color: #FEE2E2;
  color: #DC2626;
}
.card {
  background-color: white;
  margin-bottom: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}
.card__name {
  margin-bottom: 5px;
  font-weight: bold;
}
.card__time {
  display: inline-block;
}
.card__btnArea {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
.card__set--small {
  font-size: small;
}

.timerForm__form {
  width: 50%;
  margin: 0 auto;
}
.timerForm__label {
  width: 50%;
  text-align: left;
  display: block;
  margin-top: 20px;
}
.timerForm__input {
  padding: 10px 5px;
  margin-bottom: 10px;
}
.timerForm__input--normal {
  width: 100%;
}
.timerForm__input--short {
  width: 40%;
}
.timerForm__randomTimeArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timerForm__backArea {
  margin-top: 20px;
  text-align: right;
}
.training__title {
  margin-top: 20px;
}

.training__countArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  position: relative;
  margin: 0 auto;

  background: conic-gradient(
    aqua 0% var(--progress),
    gray var(--progress) 100%
  );
}
.training__countArea::before {
  content: "";
  position: absolute;
  inset: 15px;
  border-radius: 50%;
  background: white;
}

.training__count--bottom {
  position: absolute;
  top: 130px;
}
.training__count--big {
  font-size: 120px;
  z-index: 1;
}
.training__count--small {
  font-size: 60px;
  z-index: 1;
}

.training__setInfo {
  margin-top: 20px;
  font-weight: bold;
}
.traing__setCount {
  display: block;
}
.training__finishArea {
  margin-top: 30px;
}

.padding--small {
  padding: 0 5px;
}
