
.home__btnArea {
  margin-top: 10px;
  display: inline-block;
}

.btn {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 10px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background-color: yellow;
}
.btn--big {
  padding: 20px;
}
.btn--small {
  padding: 10px;
}
.card {
  background-color: blue;
  margin-bottom: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
}
.card__time {
  display: inline-block;
}
.card__btnArea {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
.card__set--small {
  font-size: small;
}